h2, h4{
    justify-content: center;
    text-align: center;
    margin-top: 2%;
}

h5 {
    margin-top: 2%;
    background-color: rgb(243, 237, 205);
    text-align: center;
    padding: 2px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
  }

p {
    padding: 1%;
}

.report-div{
    padding: 1%;
}

mat-icon:hover{
    cursor: pointer;
}