$light: #ece9e9;
$dark: #7e7e7e;
$darker: #666565;
$primary: #c73612;
$secondary: #e68365;

body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	color: #fff;
	line-height: 16px;
}

  td:not(.testClass):not(.absence-cell){
	padding: 10px;
	background-color: $light;
	border-top: solid 1px darken($darker, 5);
	border-left: solid 1px darken($darker, 5);
	border-bottom: solid 1px darken($darker, 5);
	border-right: solid 1px darken($darker, 5);		
  }


table {
	width: 100%;
	border-collapse: collapse;
	table-layout: auto;
	
	th, td {
		padding: 3px 12px;
		text-align: center;
		width: 12.5%;
	}

	
	th, td:not(.absence-cell):not(.testClass){
		background-color: $light;
		border-top: solid 1px darken($darker, 5);
		border-left: solid 1px darken($darker, 5);
		border-bottom: solid 1px darken($darker, 5);
		border-right: solid 1px darken($darker, 5);		
	}

	td.absence-cell{
		width:60px;
		height:50px;
		padding: 1%;
		text-align:center;
		vertical-align:middle;
		background-color: #fff;
		border: solid 1px rgba(204, 204, 204, 0.753);
	}
  
	
	th, td:nth-child(1) {
	  vertical-align: middle;
		font-weight: 700;
	}
	
	td:not(.testClass) {

		&:hover, &.hover {
      cursor: pointer;

		}

		&.ui-selecting {
			background-color: $secondary;
			
			&.ui-selected {
				background-color: $secondary;
			}			
		}
		
		&.ui-selected {
			background-color: $primary;
		}		
	}
}

.testClass{
	background-color: rgb(27, 71, 214);
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	&:hover, &.hover {
		cursor: no-drop;
  	}
}


