<div class="container">
    <table>
      <thead>
        <tr class="col-12">
            <mat-icon class="col-1 icon-absence" (click)="getPreviousMonth()">chevron_left</mat-icon>  
            <th *ngIf="dayOfMonth.length > 8" [attr.colspan]="dayOfMonth.length " ><h3 class="col">{{currentDate | date:'MMMM yyyy'}}</h3> </th>
            <th *ngIf="dayOfMonth.length < 8" [attr.colspan]="dayOfMonth.length - 1"><h3 class="col">Semaine du .... a ....</h3> </th>
            <mat-icon class="col-1 icon-absence" (click)="getNextMonth()">chevron_right</mat-icon>
        </tr>
        <tr>  
            <th data-selectable="all">Employés</th>  
            <th *ngFor="let day of dayOfMonth">{{day | date: 'dd'}}</th>
        </tr> 
      </thead>
      <tbody>
        <tr *ngFor="let employee of employeeList; let i = index;">    
            <td class="employee-cell">{{employee.firstname}}</td>
            <td [ngClass]="cellIds.includes(employee.id + '|' + day) ? unselectableClass : selectableClass" *ngFor="let day of dayOfMonth" (contextmenu)="onRightClick($event)" [attr.id]="employee.id + '|' + day"></td>
            
        </tr>
      </tbody>
    </table>

    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
      <p *ngFor="let employee of employeeList; let i = index;">
        Employé {{employee.firstname}} | Absences : {{employee.absences | json}}
      </p>
  
      <p *ngFor="let employee of employeeList; let i = index;">
        Employé {{employee.firstname}} | Absences : {{employee.absences | json}}
      </p>
  
      <p *ngFor="let employee of employeeList; let i = index;">
        Employé {{employee.firstname}} | Absences : {{employee.absences | json}}
      </p>
    </cdk-virtual-scroll-viewport>

  </div>
