<h1> Paramètres avancés </h1>

<form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-10">
            <h3 *ngIf="!updatingEvent">Ajouter un évènement récurrent</h3>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-link" (click)="clearEventForm()">Fermer</button>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label for="driver">Conducteur : </label>
            <select formControlName="driver" id="driver" [(ngModel)]="selectedDriverId">
                <option *ngFor="let driver of driverList" [value]="driver.id">
                    {{driver.firstname | lowercase }} {{driver.lastname | uppercase }}
                </option>
            </select>
        </div>
        <div class="col-2">
            <label for="patient">Patient : </label>
            <select formControlName="patient" id="patient" [(ngModel)]="selectedPatientId">
                <option *ngFor="let patient of patientList" [value]="patient.id">
                    {{patient.firstname | lowercase }} {{patient.lastname | uppercase }}
                </option>
            </select>
        </div>
        <div class="col">
            <label for="journey"> Trajet : </label>
            <div class="row">
                De :
                <div class="col">
                    <select formControlName="startPoint" id="startPoint" [(ngModel)]="selectedStartPointId">
                        <option *ngFor="let place of placeList" [value]="place.id">
                            {{place.label | uppercase }}
                        </option>
                    </select>
                </div>
                Vers :
                <div class="col">
                    <select formControlName="endPoint" id="endPoint" [(ngModel)]="selectedEndPointId">
                        <option *ngFor="let place of placeList" [value]="place.id">
                            {{place.label | uppercase }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <label for="date">Date : </label>
            <input class="form-control" type="date" id="date" placeholder="jj/mm/aaaa" formControlName="date">
        </div>
        <div class="col-2">
            <label for="startHour">Départ : </label>
            <div class="input-group">
                <input class="form-control" type="time" id="startHour" formControlName="startHour" [(ngModel)]="startHourSelected">
            </div>
        </div>
        <div class="col-2">
            <label for="endHour">Retour : </label>
            <input type="time" id="endHour" class="form-control" formControlName="endHour" [value]="startHourSelected" step="900">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label> Récurrence : </label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="monday" value="1" (checked)="checkboxStatus1" (change)="getCheckboxValue($event)">
                <label class="form-check-label">Lundi</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="tuesday" value="2" (checked)="checkboxStatus2" (change)="getCheckboxValue($event)">
                <label class="form-check-label" for="inlineCheckbox2">Mardi</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="wednesday" value="3" (checked)="checkboxStatus" (change)="getCheckboxValue($event)">
                <label class="form-check-label">Mercredi</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="thursday" value="4" (checked)="checkboxStatus" (change)="getCheckboxValue($event)">
                <label class="form-check-label">Jeudi</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="friday" value="5" (checked)="checkboxStatus" (change)="getCheckboxValue($event)">
                <label class="form-check-label">Vendredi</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="saturday" value="6" (checked)="checkboxStatus" (change)="getCheckboxValue($event)">
                <label class="form-check-label">Samedi</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="sunday" value="0" (checked)="checkboxStatus" (change)="getCheckboxValue($event)">
                <label class="form-check-label">Dimanche</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="alldays" value="7"  (checked)="checkboxStatusAllDay" (change)="getCheckboxValue($event)">
                <label class="form-check-label">Tous les jours</label>
              </div>
        </div>
    </div>

    <p *ngIf="daysArray.length > 0"> Cet évènement sera ajouté tous les {{daysArray | json}} à compter du {{eventForm.get('date').value | date: 'dd/MM/yyyy'}} pendant 2 semaines.</p>

    <p *ngIf="daysArray.length > 0">Evènements à ajouter</p>
    <p *ngFor="let event of eventListToDisplay">
        {{event.date | date:"dd/MM/yyyy" }} | De {{event.startHour}} à {{event.endHour}}
    </p>


    <div style="color:red" *ngIf="!eventForm.valid && eventForm.touched">
        Veuillez rentrer des valeurs valides.
    </div>
    <div class="col">
        <button type="submit" class="btn btn-info" [disabled]="!eventForm.valid">Valider</button>
    </div>

</form>
