<div class="row" *ngIf="!displayPlanDriver && !displayForm && !displayDuplicateForm">

    <div class="col" style="margin-top: 20%;">
        <h1> Bienvenue dans l'onglet de paramétrage </h1> <br>

        <div class="text">Il vous permettra de :
            <ol>
                <li>Créer des évènements récurrents</li>
                <li>Plannifier un conducteur pour une date et une période donnée</li>
                <li>Dupliquer ou supprimer tous les évènements sur (au plus) une semaine</li>
            </ol>
        </div>
    </div>
    <div class="col">
        <img *ngIf="!displayPlanDriver && !displayForm" src="./assets/settings_01.jpg">
    </div>
</div>

<div class="col">
    <div class="row" style="text-align: center;">
        <button type="button" class="btn btn-info" (click)="displayEventForm()"> Ajouter un évènement récurrent</button>
        <button type="button" class="btn btn-info" (click)="displayPlanForm()"> Planifier un conducteur</button>
        <button type="button" class="btn btn-info" (click)="displayDuplicatePlanningForm()"> Dupliquer / Supprimer un planning</button>
    </div>
</div>

<form [formGroup]="planDriverForm" (ngSubmit)="savePlan()" *ngIf="displayPlanDriver">
    <div class="row">
        <div class="col-10">
            <h3>Plannifier un conducteur</h3>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-link" (click)="clearPlanDriverForm()">Fermer</button>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Date à plannifier :
        </div>
        <div class="col-3">
            <input class="form-control" type="date" id="date" placeholder="jj/mm/aaaa" [(ngModel)]="selectedDatePlan" formControlName="date">
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <ng-select appearance="outline" id="driver" [(ngModel)]="selectedPlanDriverId" formControlName="driver"
                placeholder="Conducteur à plannifier">
                <ng-option *ngFor="let driver of driverList" [value]="driver.id">{{driver.firstname | lowercase }}
                    {{driver.lastname | uppercase }}</ng-option>
            </ng-select>
        </div>

        <div class="col-5">
            <div class="row">
                <div class="col">
                    <ng-select appearance="outline" id="startHourPlanSelected" [(ngModel)]="startHourPlanSelected" formControlName="startHour"
                        (change)="updateHoursJobFrom()" placeholder="Horaire début">
                        <ng-option *ngFor="let hour of hours_job" [value]="hour">{{hour}} h 00</ng-option>
                    </ng-select>
                </div>
                <div class="col">
                    <ng-select appearance="outline" id="endHourPlanSelected" [(ngModel)]="endHourPlanSelected" formControlName="endHour"
                        placeholder="Horaire de fin">
                        <ng-option *ngFor="let hour of hours_job" [value]="hour">{{hour}} h 00</ng-option>
                    </ng-select>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-info" [disabled]="!planDriverForm.valid" (click)="planDriver()">
            Planifier
        </button>

    </div>

    <div class="error-div" *ngIf="!planDriverForm.valid && planDriverForm.touched">
        Veuillez rentrer des valeurs valides.
    </div>
    <div style="justify-content: center;"><small class="col">Seuls les évènements complets (patient, origine et
            destination) seront enregistrés.</small></div>
    <div class="row" *ngFor="let hour of intervalsHour; let index = index" style="margin: 1%;">
        <div class="col-2">{{hour[0]}} - {{hour[1]}} | </div>
        <div class="col-2">
            <label for="patient"> Patient : </label>
            <select id="patient" (change)="savePatientPlanSelection(hour, index, $event.target.value)">
                <option [value]="0"></option>
                <option *ngFor="let patient of patientList" [value]="patient.id">
                    {{patient.firstname | lowercase }} {{patient.lastname | uppercase }}
                </option>
            </select>
        </div>
        <div class="col">
            <label for="journey"> Trajet : </label>
            <div class="row">
                De :
                <div class="col">
                    <select id="startPoint" (change)="saveStartPointSelection(hour, index, $event.target.value)">
                        <option [value]="0"></option>
                        <option *ngFor="let place of placeList" [value]="place.id">
                            {{place.label | uppercase }}
                        </option>
                    </select>
                </div>
                Vers :
                <div class="col">
                    <select id="endPoint" (change)="saveEndHourSelection(hour, index, $event.target.value)">
                        <option [value]="0"></option>
                        <option *ngFor="let place of placeList" [value]="place.id">
                            {{place.label | uppercase }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <button mat-mini-fab color="warn" (click)="removeInterval(hour)">
            <mat-icon>close</mat-icon>
          </button>
        <div class="col-12" style="background-color: orange; height: 3px; margin-top: 1%;"></div>
    </div>
    <button *ngIf="displaySaveButton" type="button" class="btn btn-info"> Sauvegarder le planning</button>
</form>


<form [formGroup]="eventForm" (ngSubmit)="onSubmit()" *ngIf="displayForm">
    <div class="row">
        <div class="col-10">
            <h3>Ajouter un évènement récurrent</h3>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-link" (click)="clearEventForm()">Fermer</button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <ng-select appearance="outline" formControlName="driver" id="driver" [(ngModel)]="selectedDriverId"
                placeholder="Conducteur">
                <ng-option *ngFor="let driver of driverList" [value]="driver.id">{{driver.firstname | lowercase }}
                    {{driver.lastname | uppercase }}</ng-option>
            </ng-select>
        </div>
        <div class="col">
            <ng-select appearance="outline" formControlName="patient" id="patient" [(ngModel)]="selectedPatientId"
                placeholder="Patient">
                <ng-option *ngFor="let patient of patientList" [value]="patient.id">{{patient.firstname | lowercase }}
                    {{patient.lastname | uppercase }}</ng-option>
            </ng-select>
        </div>
        <div class="col">
            <ng-select appearance="outline" formControlName="startPoint" id="startPoint"
                [(ngModel)]="selectedStartPointId" placeholder="Origine">
                <ng-option *ngFor="let place of placeList" [value]="place.id">{{place.label | uppercase }}</ng-option>
            </ng-select>
        </div>
        <div class="col">
            <ng-select appearance="outline" formControlName="endPoint" id="endPoint" [(ngModel)]="selectedEndPointId"
                placeholder="Destination">
                <ng-option *ngFor="let place of placeList" [value]="place.id">{{place.label | uppercase }}</ng-option>
            </ng-select>
        </div>

    </div>
    <div class="row">
        <div class="col-3">
            <label for="date">Date : </label>
            <input class="form-control" type="date" id="date" placeholder="jj/mm/aaaa" formControlName="date"
                (change)="uncheckAllCheckbox()">
        </div>
        <div class="col-2">
            <label for="startHour">Départ : </label>
            <div class="input-group">
                <input class="form-control" type="time" id="startHour" formControlName="startHour"
                    (change)="uncheckAllCheckbox()" [(ngModel)]="startHourSelected">
            </div>
        </div>
        <div class="col-2">
            <label for="endHour">Retour : </label>
            <input type="time" id="endHour" class="form-control" formControlName="endHour" [value]="startHourSelected"
                (change)="uncheckAllCheckbox()">
        </div>
    </div>

    <div class="row" *ngIf="eventForm.valid">
        <div class="col">
            <label> Récurrence : </label>
            <div class="form-check form-check-inline" *ngFor="let day of checklist">
                <input class="form-check-input" type="checkbox" [value]="day.id" (change)="updateCheckedList($event)"
                    [checked]="day.isSelected">
                <label class="form-check-label">{{day.label}}</label>
            </div>

        </div>
    </div>

    <br>
    <p *ngIf="eventForm.valid && checkedlist.length > 0"> Cet évènement sera ajouté tous les <i
            *ngFor="let day of checkedlist">{{day.label}}, </i> à compter du
        {{eventForm.get('date').value | date: 'dd/MM/yyyy'}} pendant 2 semaines.</p>

    <p *ngIf="eventForm.valid && checkedlist.length > 0">Evènements à ajouter</p>
    <p *ngFor="let event of eventListToDisplay">
        {{event.date |  date:"dd/MM/yyyy" }} | De {{event.startHour}} à {{event.endHour}}
    </p>


    <div class="error-div" *ngIf="!eventForm.valid && eventForm.touched">
        Veuillez remplir otus les champs.
    </div>
    <div class="col">
        <button type="submit" class="btn btn-info" [disabled]="!eventForm.valid">Valider</button>
    </div>

</form>

<div *ngIf="displayDuplicateForm">
    <form [formGroup]="duplicateForm" (ngSubmit)="onSubmitDuplicateForm()" *ngIf="displayDuplicateForm">
        <div class="row">
            <div class="col-10">
                <h3>Dupliquer un planning sur une période donnée</h3>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-link" (click)="clearDuplicateForm()">Fermer</button>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <ng-select appearance="outline" formControlName="driver" id="driver" [(ngModel)]="selectedDriverId"
                    placeholder="Conducteur (optionnel)">
                    <ng-option *ngFor="let driver of driverList" [value]="driver.id">{{driver.firstname | lowercase }}
                        {{driver.lastname | uppercase }}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label for="date">Date de début : </label>
                <input class="form-control" type="date" id="startDate" placeholder="jj/mm/aaaa"
                    formControlName="startDate" (change)="startDatePeriodChanged()">
            </div>
            <div class="col-3">
                <label for="date">Date de fin : </label>
                <input class="form-control" type="date" id="endDate" placeholder="jj/mm/aaaa" formControlName="endDate"
                    [min]="duplicateForm.get('startDate').value" [max]="maxDate">
            </div>
        </div>

        <br>
        <p *ngIf="eventsToDuplicateForNextWeek != null"> <strong>Les évènements compris entre les deux dates
                sélectionnées seront dupliquer à J+7 : </strong>
        <p *ngFor="let event of eventsToDuplicateForNextWeek">
            {{event.date | date:"dd/MM/yyyy" }} | De {{event.startHour}} à {{event.endHour}} | {{event.driver.lastname |
            uppercase }} {{event.driver.firstname | lowercase }} | Patient : {{event.patient.lastname | uppercase }}
            {{event.patient.firstname | lowercase }}
        </p>

        <p *ngIf="showNoEventsError"> Aucun évènement n'est présent à cette période.</p>

        <div class="error-div" *ngIf="!duplicateForm.valid && duplicateForm.touched">
            Veuillez rentrer des valeurs valides.
        </div>
        <div class="row">
            <button type="button" class="btn btn-info" [disabled]="!duplicateForm.valid"
                (click)="getEventsBetweenTwoDates()">Voir les évènements à dupliquer</button>
            <button type="submit" class="btn btn-info" [disabled]="!allowDuplication">Dupliquer</button>
            <button type="button" class="btn btn-info" [disabled]="!allowDuplication" (click)="deleteEventBox()">Supprimer</button>
        </div>

    </form>
</div>