<div class="example-container mat-elevation-z8">

    <table style="margin-top: 5%;">
        <thead>
            <tr class="col-12">
                <mat-icon class="col-1 icon-absence" (click)="getPreviousMonth()">chevron_left</mat-icon>
                <th *ngIf="dayOfMonth.length > 8" [attr.colspan]="dayOfMonth.length ">
                    <h3 class="col">{{currentDate | date:'MMMM yyyy'}}</h3>
                </th>
                <th *ngIf="dayOfMonth.length < 8" [attr.colspan]="dayOfMonth.length - 1">
                    <h3 class="col">Semaine du .... a ....</h3>
                </th>
                <mat-icon class="col-1 icon-absence" (click)="getNextMonth()">chevron_right</mat-icon>
            </tr>
            <tr>
                <th data-selectable="all">Employés</th>
                <th *ngFor="let day of dayOfMonth">{{day | date: 'dd'}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of driverList; let i = index;">
                <td class="employee-cell">{{employee.firstname}}</td>
                <td [ngClass]="cellIds.includes(employee.id + '|' + day) ? unselectableClass : selectableClass"
                    *ngFor="let day of dayOfMonth" (contextmenu)="onRightClick($event)"
                    [attr.id]="employee.id + '|' + day"></td>

            </tr>
        </tbody>
    </table>

    <br><br><br>

    <table mat-table [dataSource]="absenceList" class="lessons-table mat-elevation-z8">

        <!-- Id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="driver">
            <th mat-header-cell *matHeaderCellDef> Chauffeur </th>
            <td mat-cell *matCellDef="let element"> {{element.driver.lastname | uppercase}} {{element.driver.firstname}}
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef> Début </th>
            <td mat-cell *matCellDef="let element"> {{element.startDate | date:"dd/MM/yyyy" }} </td>
        </ng-container>

        <!-- Lastname Column -->
        <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef> Fin </th>
            <td mat-cell *matCellDef="let element"> {{element.endDate | date:"dd/MM/yyyy" }} </td>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="reason">
            <th mat-header-cell *matHeaderCellDef> Motif </th>
            <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions" style="min-width: 60px;">
            <th mat-header-cell *matHeaderCellDef>Editer / Supprimer</th>
            <td mat-cell *matCellDef="let element">
                <button mat-flat-button (click)="displayEditAbsenceModal('Edit absence', element)">
                    <mat-icon color="transparent" [ngStyle]="{'color':'#1e90ff'}">edit</mat-icon>
                </button>`
                <button mat-flat-button (click)="deleteAbsence(element.id)">
                    <mat-icon [ngStyle]="{'color':'red'}">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

    </table>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Supprimer un lieu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Etes-vous sûr de vouloir supprimer le lieu ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-prim" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-danger">Supprimer</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal edit event implementation -->
<ng-template #modalContent let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">Modifier l'absence de <strong>{{modalData.absence.driver.lastname | uppercase }} {{
                modalData.absence.driver.firstname }}</strong> du <strong>{{modalData.absence.startDate |
                date:"dd/MM/yyyy"}} </strong> au <strong>{{modalData.absence.endDate
                | date:"dd/MM/yyyy"}}</strong>
        </h5>
        <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="editAbsenceForm" (ngSubmit)="onSubmit()">
            <div class="row centered">
                <ng-select class="col" style="padding: 1.8%; " appearance="outline" formControlName="driver" id="driver"
                    [(ngModel)]="selectedDriverId" placeholder="Conducteur">
                    <ng-option *ngFor="let driver of driverList" [value]="driver.id">{{driver.firstname | lowercase }}
                        {{driver.lastname | uppercase }}</ng-option>
                </ng-select>
                <div class="col input-group centered" style="padding: 2%; ">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Motif de l'absence</span>
                    </div>
                    <textarea formControlName="reason" aria-label="With textarea"
                        [(ngModel)]="selectedReason"></textarea>
                </div>
            </div>
            <div class="row centered" style="margin-top: 2%;">
                <div class="col-6">
                    <label for="startDate">Date de début </label>
                    <input type="date" appearance="outline" formControlName="startDate" id="startDate"
                        [(ngModel)]="selectedStartDate">

                </div>
                <div class="col-6">
                    <label for="endDate">Date de fin </label>
                    <input type="date" appearance="outline" formControlName="endDate" id="endDate"
                        [(ngModel)]="selectedEndDate">

                </div>
            </div>

            <div class="error-div" *ngIf="!editAbsenceForm.valid && editAbsenceForm.touched">
                Veuillez rentrer des valeurs valides.
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-info" data-dismiss="modal"
                    [disabled]="!editAbsenceForm.valid">Valider</button>
            </div>
        </form>
    </div>

</ng-template>