<router-outlet></router-outlet>
<div>
    <img src="../../assets/planning_001.jpg">
  </div>

<form [formGroup]="authForm" (ngSubmit)="onSubmit()">
  
    <div class="row">
      <div class="col-sm">
        <input type="text" id="identifiant" class="form-control" formControlName="identifiant">
      </div>
    <br> 
    </div> 
  
    <div style="color:red" *ngIf="!authForm.valid && authForm.touched">
      L'identifiant est inconnu. Veuillez réessayer ou contacter un administrateur.
    </div>
    <div style="justify-content: center;">
      <button type="submit" class="btn btn-info" [disabled]="!authForm.valid" (click)="btnClick()" >Se connecter</button>
    </div>
  
  </form>

  <a style="justify-content: center;"> Se connecter en tant que maître ? </a>


  <button style="justify-content: center;" type="button" (click)="btnClick()" >Vers home</button>
