<h1> Guide utilisateur </h1>

<h3> Comment créer un évènement ? </h3>
<ol>
    <li>Via l'onglet planning > Cliquer sur "Ajouter un évènement" et renseigner TOUS les champs.</li>
    <li>Via l'onglet "Avancé" > Cliquer sur "Ajouter un évènement". Vous pourrez créer des évènements récurrents.</li>
    <li>Via l'onglet "Avancé" > Cliquer sur "Planifier un conducteur". Vous pourrez créer des évènements sur un plage prédéfinie pour un conducteur prélablement choisi.</li>
</ol>

<h3>  Ajout d'un conducteur ou d'un patient </h3>
<p> Vous devez ajouter un conducteur/patient avant de lui créer un évènement. Pour cela, aller sur l'onglet "Conducteurs"/"Patient" et cliquer sur "Ajouter un conducteur"/"Ajouter un patient". Seuls les champs "Nom" et "Prénom" sont obligatoires.</p>

<h3>Modifier un conducteur, un patient ou un lieu</h3>
<p> Vous pouvez modifier un conducteur, un patient ou un lieu en cliquant sur le crayon qui suit l'objet devant être modifié dans l'onglet associé.</p>

<h3>Modifier un évènement par glisser-déposer</h3>
<p> Pour cela, vous devez sélectionner l'évènement et le glisser à l'horaire souhaité. Un message apparaîtra vous indiquant que des modifications ont été détectés. Il vous listera les modifications et vous demandera si vous voulez sauvegarder ces modifications.
<br>En cliquant sur "Non", les modifications seront supprimés et les évènements retrouveront leur place initiale sur le planning.
<br>En cliquant sur "Oui", les modifications sont enregistrées.
</p>

<h3>Supprimer un conducteur, un patient ou un lieu</h3>
<p> Vous pouvez supprimer un conducteur, un patient ou un lieu en cliquant sur la poubelle qui suit l'objet devant être modifié dans l'onglet associé.
    Lors d'une suppression d'un conducteur ou d'un patient, les évènements qui leurs sont associés sont également supprimés. <strong>La suppression est irréversible !</strong>
</p>

<h3>Vocabulaire</h3>

<dl>
    <dt>Evènement</dt>
    <dd>un évènement est un objet décrivant le trajet d'un conducteur amenant un patient d'un lieu A à un lieu B. Un évènement est composé d'un conducteur, un patient, 2 lieux, deux horaires (départ et arrivée).</dd>

    <dt>Planning</dt>
    <dd>Un planning comporte u ensemble d'évènement. Ce dernier peut-être modifié via des glisser-déposer ou encore après un clic sur un évènement puis sur "Modifier".</dd>

    <dt>Evènement récurrent</dt>
    <dd>Un évènement récurrent est créé depuis l'onglet "Avancé". Il possède en plus de ses caractéristiques décrites précédemment, une récuurence sur 2 semaines. Ex : Si la récurrence est Lundi, Mardi et Mercredi, il sera alors créé les lundis, mardis et mercredis des deux prochaines semaines.</dd>
</dl>