.col-3{
  justify-content: center;
}
.alert-change{
  color: white;
  font-weight: bold;
  background-color: orange;
}
  input {
    position: relative;
    display: block;
  }
  
  label {
    display: block;
    position: relative;
  }

  select {
    // Additional resets for further consistency
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
  }

  h1{
    text-align: center;
    color: rgba(218, 143, 5, 0.603);;
}

button {
    margin: 2%;
}

.filterForm{
    margin: 2%;
    box-sizing: border-box;
    border: solid rgba(218, 143, 5, 0.603) 3px;
    padding: 2%;
}

.eventDetails{
  margin: 2%;
  box-sizing: border-box;
  border: solid rgba(218, 143, 5, 0.603) 3px;
  padding: 2%;
}

@media print {
  .hideForPrint{
    display : none
  }

  .mat-drawer-content{
    display: none;
  }

  mat-sidenav {
    visibility: collapse;
  }

  body {
    transform: rotate(-90deg);
}

  @page { 
  size: A4 landscape;   /* auto is the initial value */ 

    /* Chrome sets own margins, we change these printer settings */
  margin: 0mm 0mm 0mm 0mm; 
} 
  .printMe {
    visibility: visible;
    zoom: 0.8
  }
}